@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");

.cajaForm{
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%; 
}

.containerForm{
  border: 3px solid rgb(205, 205, 205);
  display: grid;
  place-items: center;
  width: 300px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0 20px 30px 25px rgba(0, 0, 0, 0.2);
}

.name_label{
  text-align: center;
  height: 100px;
  width: 200px;
  border-radius: 20px;
}

.email_label{
  text-align: center;
  border-radius: 20px;
  width: 200px;
  height: 100px;
}

.your_age{
  height: 100px;
}

.submitbtn{
    text-align: center;
    display: block;
    padding: 15px 30px;
    border: none;
    background-color: #eb8100;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.submitbtn:hover{
  transition: all 0.3s;
  background-color: #6FCF97;
  transform: translateY(-2px);
}

input{
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(190, 190, 190);
  border-radius: 20px;
  height: 45px;
  font-size: 15px;
}


.pp{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  color: rgb(114, 101, 0);
}