*{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

.cardPadre{
  width: 700px;
  height: 10%;
  justify-content: left;
  align-items: center;
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
}


img{
  width: 200px;
  border-radius: 10px;
}
.infoProduc{
  margin-left: 20px;
}
.infoProduc h5{
  color: rgba(38, 155, 2, 0.87);
  font-size: 20px;
}
.infoProduc h4{
  font-size: 22px;
}

/*Button*/
.buttonDeta{
  background-color: transparent;
  text-decoration: none;
  display: flex;
  justify-content: right;
  
}
.buttonDeta a{
  text-decoration: none;
  color: rgb(1, 1, 14);
  font-size: 18px;
}
.buttonDeta a:hover{
  color: rgb(185, 132, 40);
  transition: all 0.3s;
}

.buttonDeta button{
  margin-left: 20px;
}
.buttonDeta:hover{
  transform: scale(1.1);
}

/*media*/
@media (max-width: 400px) {
  body{
    width: 400px;
  }
  .cardPadre{
    width: 92%;
    height: 100%;
    justify-content: left;
    align-items: center;
    display: flex;
    margin-top: 10px;
    margin-left: 2px;
  }

  img{
    width: 10px;
    border-radius: 10px;
  }
  .infoProduc{
    margin-left: 2px;
  }
  .infoProduc h5{
    color: rgba(38, 155, 2, 0.87);
    font-size: 5px;
  }
  .infoProduc h4{
    font-size: 5px;
  }
}

@media (max-width: 600px){
  body{
    width: 100%;
  }
  .cardPadre{
    width: 92%;
    height: 100%;
    justify-content: left;
    align-items: center;
    display: flex;
    margin-top: none;
    margin-left: 2px;
  }

  img{
    width: 120px;
    border-radius: 10px;
  }
  .infoProduc{
    margin-left: 15px;
  }
  .infoProduc h5{
    color: rgba(38, 155, 2, 0.87);
    font-size: 15px;
  }
  .infoProduc h4{
    margin-top: 20px;
    font-size: 20px;
  }
}

